{% extends 'base.html.twig' %}

{% block title %}New IssueConfirmation{% endblock %}

{% block body %}
    <h1>Create new IssueConfirmation</h1>

    {{ include('issue_confirmation/_form.html.twig') }}

    <a href="{{ path('issue_confirmation_index') }}">back to list</a>
{% endblock %}
