{% extends 'base.html.twig' %}

{% block title %}New OrderItems{% endblock %}

{% block body %}
    <div class="col-4">
        <h1>Create new OrderItems</h1>

        {{ include('order_items/_form.html.twig') }}

        <a href="{{ path('order_items_index') }}">back to list</a>
    </div>
{% endblock %}
