<div class="contributors-page">
    <h1>O Twórcy/h1>

    <h3>Strona została napisana przez Dominika Roka, studenta 7 semestru informatyki na Akademi WSB w Dąbrowie Górniczej.</h3>
    <h3>Projekt jest częścią pracy inżynierskiej pisanej pod opieką dr.hab.inż. Bartłomieja Zielińskiego </h3>
</div>
