<div class="contributors-page">
    <h1>O Twórcach</h1>
    <div class="text-center">
        <img src="https://scontent.fktw1-1.fna.fbcdn.net/v/t1.0-9/11218612_867380480001927_6256301921587077821_n.jpg?_nc_cat=106&_nc_ohc=FAlQ_GqB9UgAX98A0-y&_nc_ht=scontent.fktw1-1.fna&oh=a7af8f4b4961b37fcaf5624506d43390&oe=5E98050A" alt="Dominik Rok - zdjecie" class="img-fluid">
    </div>
</div>
