<div class="out-page">
    <h1>Wydaj towar</h1>
    <div>Wydawanie towaru</div>
    <div class="col-4">
        {% form_theme form 'bootstrap_4_layout.html.twig' %}
        {{ form_start(form) }}
            {{ form(form) }}
        {{ form_end(form) }}
    </div>
</div>
