{% extends 'base.html.twig' %}

{% block title %}New Shelfs{% endblock %}

{% block body %}
    <h1>Create new Shelfs</h1>

    {{ include('shelfs/_form.html.twig') }}

    <a href="{{ path('shelfs_index') }}">back to list</a>
{% endblock %}
