$first_color: #191919;
$second_color: #131313;
$third_color: #303030;
$fourth_color: #272727;;
$fifth_color: #B1A296;

html, body {
  height: 100%;
  color: white;
}
body {
  font-family: din-medium, sans-serif;
  background-color: $first_color;
  margin-right: 20px;
  .row {
    .row-main {
      min-height: 100%;
    }
  }
  .col-main-menu {
    min-height: 100%;
    background-color: $second_color;
    .nav-link {
      color: white;

      &.active {
        background-color: black;
      }
    }
  }
}
.page-item.active .page-link {
  color: #fff;
  background-color: $second_color;
  border-color: $second_color;
}
.form-control{
  background-color: $third_color;
}

input{
  background-color: $third_color;
  color: white;
}

//#data-result{
//  max-height: 600px
//}
//
//#days-result{
//  max-height: 700px
//}

#myChart{
  max-height: 650px
}

