{% extends 'base.html.twig' %}

{% block title %}Edit Rows{% endblock %}

{% block body %}
    <h1>Edit Rows</h1>

    {{ include('rows/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('rows_index') }}">back to list</a>

    {{ include('rows/_delete_form.html.twig') }}
{% endblock %}
