{% extends 'base.html.twig' %}

{% block title %}New Rows{% endblock %}

{% block body %}
    <h1>Create new Rows</h1>

    {{ include('rows/_form.html.twig') }}

    <a href="{{ path('rows_index') }}">back to list</a>
{% endblock %}
