{% block body %}
    <div class="col-4">
        <h1>Create new Orders</h1>

        {{ include('orders/_form.html.twig') }}

        <a href="{{ path('orders_index') }}"><button type="button" class="btn btn-dark mb-1 mt-1">Back to list</button></a>
    </div>
{% endblock %}
