{% extends 'base.html.twig' %}

{% block title %}Edit Users{% endblock %}

{% block body %}
    <h1>Edit Users</h1>
    <div class="col-4">
        {{ include('users/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('users_index') }}"><button type="button" class="btn btn-dark mb-1">Back to list</button></a>

        {{ include('users/_delete_form.html.twig') }}
    </div>
{% endblock %}
